*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(39, 38, 39);
}
.App{
  max-width: 1400px;
  margin:0 auto;
  position: relative;
}
.left-contant-area{
  background-color: rgb(170, 170, 170);
  width: calc(100% - 250px);
  height: 1200px;
}
.right-contant-area{
  position: absolute;
  top:53px;
  right:0;
  bottom:0;
  width:250px;
}
.test1{
  position: sticky;
  top:0;
  background-color: aqua;
  height:100vh;
  overflow: auto;
}
.cart-header{
  padding: 2% 5% 2% 2%;
  background-color: antiquewhite;
}
.cart-header h3{
  color: rgb(51, 51, 51);
}